<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>error404</title>
    <style>
      body {
        background-color: #ed0644;
      }
    </style>
  </head>
  <body>
    <div class="error container">
      <div class="error__code">404</div>
      <div class="error__text">
      Извините, но запрошенная вами страница не найдена
      </div>
      <a href="/" class="error__main-btn">На главную</ф>
    </div>
  </body>
</html>
