<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="height=device-height, width=device-width, initial-scale=1, maximum-scale=5"
    />
    <title>promotion.ru</title>
  </head>
  <body>
    <section class="about">
      <div class="container">
        <div class="about-body">
          <div class="about-body__title">
            <h2>Promotion.ru это</h2>
          </div>
          <div class="about-body-row">
            <div class="about-body__subtitle">
              <h3>Крупнейшая в России федеральная сеть Pop-Up торговли</h3>
            </div>
            <div class="about-body__text">
              <p>
                Мы делаем путь от первого контакта с вашим продуктом до его
                приобретения минимальным и помогаем решиться на покупку здесь и
                сейчас.<br />Мы - Promotion.ru
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
