<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="height=device-height, width=device-width, initial-scale=1, maximum-scale=5"
    />
    <title>promotion.ru</title>
  </head>
  <body>
    <div class="app">
      <section class="about">
        <div class="container">
          <h2 class="about-body__title">Promotion.ru это</h2>

          <div class="about-body-row">
            <h3 class="about-body__subtitle">
              Крупнейшая в России федеральная сеть Pop-Up торговли
            </h3>
            <p class="about-body__text">
              Мы делаем путь от первого контакта с вашим продуктом до его
              приобретения минимальным и помогаем решиться на покупку здесь и
              сейчас.<br />Мы - Promotion.ru
            </p>
          </div>
        </div>
      </section>
      <section class="network">
        <div class="network__header container">
          <h1 class="header__title">Наша сеть</h1>
        </div>
        <div class="network__main container">
          <div class="main__block">
            <div class="block__content">
              <p class="content__number">700+</p>
              <span class="content__description">точек продаж</span>
            </div>
          </div>
          <div class="main__block">
            <div class="block__content">
              <p class="content__number">700+</p>
              <span class="content__description">точек продаж</span>
            </div>
          </div>
          <div class="main__block">
            <div class="block__content">
              <p class="content__number">700+</p>
              <span class="content__description">точек продаж</span>
            </div>
          </div>
          <div class="main__block">
            <div class="block__content">
              <p class="content__number">700+</p>
              <span class="content__description">точек продаж</span>
            </div>
          </div>
          <div class="main__block">
            <div class="block__content">
              <p class="content__number">700+</p>
              <span class="content__description">точек продаж</span>
            </div>
          </div>
          <div class="main__block">
            <div class="block__content">
              <p class="content__number">700+</p>
              <span class="content__description">точек продаж</span>
            </div>
          </div>
        </div>
        <div class="network__footer">
          <div class="container">
            <div class="clients">
              <span>Наши клиенты</span>
              <svg width="62" height="17">
                <use
                  xlink:href="../resources/icons/sprite.svg#banner-mts"
                ></use>
              </svg>
              <svg width="119" height="23">
                <use
                  xlink:href="../resources/icons/sprite.svg#banner-megafone"
                ></use>
              </svg>
              <svg width="64" height="20">
                <use
                  xlink:href="../resources/icons/sprite.svg#banner-yandex"
                ></use>
              </svg>
              <svg width="123" height="26">
                <use
                  xlink:href="../resources/icons/sprite.svg#banner-alpha-bank"
                ></use>
              </svg>
              <svg width="140" height="13">
                <use
                  xlink:href="../resources/icons/sprite.svg#banner-tinkoff"
                ></use>
              </svg>
              <svg width="79" height="38">
                <use
                  xlink:href="../resources/icons/sprite.svg#banner-ivi"
                ></use>
              </svg>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
