.communication {
    background: url("../resources/img/05-background-image.webp") center center no-repeat fixed #ed0644;
    background: url("../resources/img/05-background-image.png") center center no-repeat fixed #ed0644;
    display: flex;
    justify-content: center;
    align-items: center;

    .communication-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .communication__title,
    .communication__subtitle,
    .communication__sutitle-text {
        font-style: normal;
        text-align: center;
        color: #ffffff;
    }

    .communication__title {
        font-weight: 700;
        font-size: 46px;
        line-height: 122%;
        text-transform: uppercase;
        margin-bottom: 90px;

        @media (max-width: 1200px) {
            margin-bottom: 40px;
        }
        @media (max-width: 576px) {
            font-size: 25px;
            margin-bottom: 20px;
        }
    }

    .communication-row {
        width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 80px;

        .communication-row__first-image {
            img {
                width: 375px;

                @media (max-width: 1200px) {
                    width: 300px;
                }
                @media (max-width: 768px) {
                    width: 250px;
                }
                @media (max-width: 576px) {
                    width: 180px;
                }
            }
        }

        .communication-row__second-image {
            img {
                width: 375px;

                @media (max-width: 1200px) {
                    width: 300px;
                }
                @media (max-width: 768px) {
                    width: 250px;
                }
                @media (max-width: 576px) {
                    width: 180px;
                }
            }
        }

        @media (max-width: 1200px) {
            width: 700px;
        }

        @media (max-width: 992px) {
            margin-bottom: 40px;
        }
        @media (max-width: 768px) {
            width: 550px;
        }
        @media (max-width: 576px) {
            margin-bottom: 20px;
            width: 350px;
        }
    }
    .communication__subtitle {
        max-width: 500px;
        font-weight: 700;
        font-size: 18px;
        line-height: 144%;
        text-transform: uppercase;
        margin-bottom: 30px;

        @media (max-width: 576px) {
            margin-bottom: 20px;
            font-size: 16px;
        }
    }

    .communication__sutitle-text {
        max-width: 715px;
        font-size: 18px;
        line-height: 156%;
        @media (max-width: 768px) {
            font-size: 16px;
        }
        @media (max-width: 576px) {
            font-size: 14px;
        }
    }
}
