@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat-v25-latin-400.woff2") format("woff2"),
    url("./fonts/montserrat-v25-latin-400.woff") format("woff"),
    url("./fonts/montserrat-v25-latin-400.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat-v25-latin-700.woff2") format("woff2"),
    url("./fonts/montserrat-v25-latin-700.woff") format("woff"),
    url("./fonts/montserrat-v25-latin-700.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
