/* for example
@font-face {
  font-family: "Golos";
  src: local("Golos"),
    url("../../resources/fonts/Golos400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*/
