.home {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  video {
    display: block !important;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .home__main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    .main__svg {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .slogan-left {
        transform: translateX(-100%);
      }
      .slogan-right {
        transform: translateX(100%);
      }

      .slogan-left,
      .slogan-right {
        transition: transform 1.2s ease;
      }
    }
  }

  .home__footer {
    display: flex;
    align-items: center;
    padding: 20px 0;
    transform: translateY(600px);
    opacity: 0;
    transition:
      transform 0.8s ease-in-out,
      opacity 0.8s ease-in-out;

    a {
      margin-right: 30px;

      @media (max-width: 575.98px) {
        margin-right: 15px;
      }
    }

    span {
      color: $white;
      font-size: 12px;
      line-height: 16px;
      @media (max-width: 575.98px) {
        width: 170px;
      }
    }
    &.container {
      @media (max-width: 1119.98px) {
        padding: 20px;
      }
    }
  }
  &.active {
    .home__footer {
      opacity: 1;
      transition-delay: 300ms;
      transform: translateY(0px);
    }

    .main__svg {
      .slogan-left {
        transform: translateX(0%);
        transition-delay: 300ms;
      }

      .slogan-right {
        transform: translateX(0%);
        transition-delay: 300ms;
      }
    }
  }
}
