@import "./reset.scss";
@import "./vars.scss";
@import "./fonts.scss";
@import "./header.scss";
@import "./home.scss";
@import "./aboutCompany.scss";
@import "./communication.scss";
@import "./promoters.scss";
@import "./network.scss";

section {
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}
