@import "./reset.scss";
@import "./vars.scss";
@import "./fonts.scss";
@import "./header.scss";
@import "./home.scss";
@import "./aboutCompany.scss";
<<<<<<< HEAD
@import "./communication.scss";
=======
@import "./promoters.scss";
>>>>>>> 2767cc80523a5f6063602ab02fcdeafab8432ba1
@import "./network.scss";

section {
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}
