.meeting {
  padding-top: 100px;
  background: url("../resources/img/06-bg.png") center no-repeat;
  background: url("../resources/img/06-bg.webp") center no-repeat;
  background-size: cover;
  overflow: hidden;

  .meeting__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
  }

  @media (max-width: 992px) {
    padding-top: 100px;
  }

  .h2 {
    color: $white;
    transform: translateY(100%);
    opacity: 0;
    transition:
      transform 0.8s ease,
      opacity 0.8s ease;
  }

  .meeting__content {
    transform: translateY(100%);
    opacity: 0;
    transition:
      transform 0.8s ease,
      opacity 0.8s ease;

    position: relative;
    max-height: 65%;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .content__preview {
      width: 100%;
      max-height: 100%;
      max-width: 100%;
    }

    .wrapper__play {
      position: absolute;
      top: calc(50% - 35px);
      left: calc(50% - 35px);
      padding: 22px;
      background-color: $white;
      border-radius: 35px;
      width: 70px;
      height: 70px;
      z-index: 1;
      transition: color, 0.4s;

      .play {
        position: relative;
        left: 5px;
        z-index: 20;
        color: $red;
        transition: color, 0.4s;
      }
    }
    &:hover {
      .wrapper__play {
        background: $red;
      }
      .play {
        color: $white;
      }
    }
  }

  &.active {
    .h2 {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 300ms;
    }

    .meeting__content {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 300ms;
    }
  }
}
