.meeting {
  padding-top: 100px;
  background: url("../resources/img/06-bg.png") center no-repeat;
  background: url("../resources/img/06-bg.webp") center no-repeat;
  background-size: cover;
  overflow: hidden;

  .meeting__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  @media (max-width: 991.98px) {
    padding-top: 100px;
  }

  .h2 {
    color: $white;
    transform: translateY(400px);
    opacity: 0;
    transition:
      transform 0.8s ease,
      opacity 0.8s ease;
  }

  .meeting__content {
    transform: translateY(600px);
    opacity: 0;
    transition:
      transform 0.8s ease,
      opacity 0.8s ease;

    position: relative;
    max-height: 65%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .content__video {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    .content__preview {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }

    .wrapper__play {
      position: absolute;
      top: calc(50% - 35px);
      left: calc(50% - 35px);
      padding: 22px;
      background-color: $white;
      border-radius: 35px;
      width: 70px;
      height: 70px;
      z-index: 2;
      transition: color, 0.4s;

      &.pause {
        z-index: -1;
      }

      .play {
        position: relative;
        left: 5px;
        z-index: 20;
        color: $red;
        transition: color, 0.4s;
      }
    }

    .content-main {
      .content-main__play {
      }
    }

    .content-side {
      margin: 0 0 10px 10px;
      width: 40px;
      height: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
      transition: opacity 0.4s ease;

      .content-side__play.play,
      .content-side__stop.pause {
        display: block;
      }

      .content-side__play,
      .content-side__stop {
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $red;
        transition:
          background-color 0.4s ease,
          color 0.4s ease;

        &:hover {
          background-color: $white;

          .side__stop {
            color: $red;
          }

          .side__play {
            color: $red;
          }
        }
      }

      .side__play {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 51%;
        left: 57%;
        color: $white;
      }

      .side__stop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
      }
    }

    &:hover {
      .content-side {
        opacity: 1;
      }

      .wrapper__play {
        background: $red;
      }
      .play {
        color: $white;
      }
    }
  }

  &.active {
    .h2 {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 300ms;
    }

    .meeting__content {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 400ms;
    }
  }
}
