.merch {
  background: #eff3f6;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 110px;

  .container {
    overflow: visible;

    .h2 {
      opacity: 0;
      transform: translateY(400px);
      transition:
        opacity 0.8s ease,
        transform 0.8s ease;

      @media (min-width: 993px) and (max-width: 1200px) {
        margin: 0 30px;
      }
    }

    .slider {
      opacity: 0;
      transform: translateY(600px);
      transition:
        opacity 0.8s ease,
        transform 0.8s ease;

      .merch-slider-track {
        .merch-slider-item {
          .image-wrapper {
            padding: 20px;
            background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%),
              #d9d9d9;
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.04);

            .item__image {
              min-width: 392px;
              width: 392px;
              height: 392px;

              @media (max-width: 576px) {
                min-width: 250px;
                width: 250px;
                height: 250px;
              }
            }

            @media (max-width: 992px) {
              padding: 0;
            }
          }
          .item__description {
            margin-top: 30px;
            color: $black;
            font-size: 16px;
            font-weight: 700;
            line-height: 150%;
            text-transform: uppercase;
          }
        }
      }

      @media (min-width: 993px) and (max-width: 1200px) {
        margin: 0 30px;
      }

      @media (max-width: 992px) {
        width: 392px;
        margin: 0 auto;
      }

      @media (max-width: 576px) {
        width: 250px;
        margin: 0 auto;
      }
    }

    .button-wrapper {
      height: 432px;

      @media (min-width: 993px) {
        width: 884px;
      }

      @media (max-width: 992px) {
        height: 392px;
      }

      @media (max-width: 576px) {
        height: 250px;
      }
    }
  }

  &.active {
    .h2,
    .slider {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 300ms;
    }
  }
}
