.network {
  background: #f5f5f5;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;

  .network__header {
    .h2 {
      transform: translateY(-200%);
      transition:
        transform 0.8s ease-in-out,
        opacity 0.8s ease-in-out;
      opacity: 0;
    }
  }

  .network__main {
    .main__content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 20px;
      padding-bottom: 10px;
      transform: translateY(100%);
      transition:
        transform 0.8s ease-in-out,
        opacity 0.8s ease-in-out;
      opacity: 0;

      .main__block {
        background: $white;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.04);
        width: calc(33.33% - 16px);

        .block__content {
          max-height: 170px;
          height: 100%;
          padding: 45px 50px 40px;
          position: relative;

          .content__number {
            display: flex;
            font-weight: 700;
            font-size: 50px;
            line-height: 61px;
            color: $red;

            @media (max-width: 1199.98px) and (min-width: 992px) {
              font-size: 36px;
            }
            @media (max-width: 767.98px) {
              font-size: 32px;
              line-height: 110%;
            }
            @media (max-width: 575.98px) {
              font-size: 24px;
            }
          }
          .content__description {
            color: $black;
            @media (max-width: 767.98px) {
              font-size: 14px;
            }
            @media (max-width: 575.98px) {
              font-size: 12px;
            }
          }
          .content__title {
            font-weight: 700;
            font-size: 32px;
            line-height: 61px;
            color: $red;

            @media (max-width: 1199.98px) and (min-width: 992px) {
              font-size: 32px;
            }
            @media (max-width: 767.98px) {
              font-size: 24px;
              line-height: 110%;
            }
            @media (max-width: 575.98px) {
              font-size: 20px;
              line-height: 110%;
            }
          }
          .content__rectangle {
            position: absolute;
            right: 0;
            bottom: 0;

            @media (max-width: 575.98px) {
              height: 20px;
            }
          }

          @media (max-width: 1199.98px) and (min-width: 992px) {
            padding: 35px 40px 30px;
          }
          @media (max-width: 991.98px) {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          @media (max-width: 767.98px) {
            padding: 15px 0;
          }
        }
        @media (max-width: 991.98px) {
          width: calc(50% - 10px);
        }
        @media (max-width: 575.98px) {
          grid-column: span 2;
          width: 100%;
          &:nth-child(3n) {
            grid-column: span 4;
          }
        }
      }
      @media (max-width: 575.98px) {
        display: grid;
      }
    }
  }

  .network__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);

    transition:
      transform 0.8s ease-in-out,
      opacity 0.8s ease-in-out;
    opacity: 0;
    background: #ebebeb;

    .wrapper__scroll {
      padding: 55px 0;
      overflow: hidden;
      overflow-x: auto;

      .clients {
        width: 1140px;
        display: flex;
        align-items: center;
        gap: 59px;

        span {
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      @media (max-height: 992px) {
        padding: 35px 0;
      }
      @media (max-height: 768px) {
        padding: 20px 0;
      }
    }
  }
  &.active {
    .h2 {
      transition-delay: 300ms;
      opacity: 1;
      transform: translateY(0%);
    }
    .network__footer {
      transition-delay: 300ms;
      opacity: 1;
      transform: translate(-50%, 0%);
    }
    .main__content {
      transition-delay: 300ms;
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
