.network {
  background: #f5f5f5;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .header__title {
    font-size: 100px;
    font-weight: 700;
    line-height: 122px;
    text-transform: uppercase;
  }

  .network__main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .main__block {
      background-color: #db7575;
      width: calc(33.33% - 16px);

      .block__content {
        display: flex;
        flex-direction: column;
        padding: 45px 50px 40px;

        .content__number {
          font-weight: 700;
          font-size: 50px;
          line-height: 61px;
          color: #ed0644;
        }
        .content__description {
          font-size: 18px;
          color: #212121;
        }
      }
    }
  }

  .network__footer {
    padding: 55px 0;
    background: #ebebeb;

    .clients {
      display: flex;
      align-items: center;
      gap: 59px;

      span {
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }
}
