.preloader {
  position: fixed;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $red;
  z-index: 999999;
  transition: bottom 0.5s ease;

  &.active {
    bottom: 0%;
  }

  & path {
    animation: preloader 5s ease-in-out forwards;
  }

  .preloader__image {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;

    & path {
      fill: transparent;
      stroke-dasharray: 1575;
      stroke-dashoffset: 0;
    }
  }
}

@keyframes preloader {
  0% {
    fill: transparent;
    stroke-dashoffset: 1582;
  }

  40% {
  }

  60% {
    fill: transparent;
  }

  80% {
    stroke-dashoffset: 3164;
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 3164;
    fill: white;
  }
}
