.promo {
    position: relative;
    background-position: center, center;
    background-image: url("../resources/img/02-background-image.png");
    background-repeat: no-repeat;
    background-color: #ed0644;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    @media (max-width: 1200px) {
        max-width: 960px;
        @media (max-width: 992px) {
            max-width: 720px;
            @media (max-width: 768px) {
                max-width: 540px;
            }
        }
    }
}
.section-inner {
    padding: 0 15px;
}

.promo-body {
    .subtitle__text {
        max-width: 487px;
        padding: 16px 0px 0px 66px;
    }
    &__subtitle {
        display: flex;
        align-items: flex-start;
        margin-bottom: 166px;
        p {
            font-weight: 800;
            font-size: 18px;
            line-height: 32px;
        }
    }

    &__subtitle p,
    & * > h2 {
        font-style: normal;
        color: #ffffff;
        text-transform: uppercase;
    }

    & > * {
        position: relative;
        z-index: 3;
    }

    & * > h2 {
        font-weight: 700;
        font-size: 100px;
        line-height: 122px;
    }

    &__title {
        padding-top: 218px;
        max-width: 850px;
    }

    &__text {
        max-width: 830px;

        padding-bottom: 276px;
        p {
            font-style: normal;
            font-size: 32px;
            line-height: 44px;
            color: #ffffff;
        }
    }
    // @media (max-width: 1300px) {
    //     .promo {
    //         background-size: 10%, 15%;
    //     }
    // }
    @media (min-width: 992px) {
        &__text {
            margin-left: auto;
        }
    }
    @media (max-width: 991px) {
        & * > h2 {
            font-size: 80px;
            line-height: 131%;
        }
        .promo-body__text {
        }
    }
}
