.promoters {
  position: relative;
  display: flex;
  align-items: center;
  background: url("../resources/img/04-background-image.webp") center center no-repeat $red;
  background: url("../resources/img/04-background-image.png") center center no-repeat $red;
  background-size: cover;
  overflow: hidden;

  .promoters__photo-mall {
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: url("../resources/img/04-photo-mall.webp") no-repeat 0% / cover;
    background: url("../resources/img/04-photo-mall.png") no-repeat 0% / cover;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .promoters-wrapper {
    position: absolute;
    width: 620px;
    right: 11%;
    bottom: 0;

    .promoters-wrapper__girl {
      position: relative;
      z-index: 5;
    }

    .promoters-wrapper__city,
    .promoters-wrapper__contacts,
    .promoters-wrapper__points {
      background: $white;
      border-radius: 110px;
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: 67%;
      text-transform: uppercase;
      color: $gray;
      box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);

      @media (max-width: 1350px) {
        display: none;
      }
    }

    .promoters-wrapper__city {
      position: absolute;
      z-index: 3;
      top: 130px;
      left: -600px;
      transition:
        left 0.8s ease,
        opacity 0.8s ease;
      opacity: 0;
      padding: 38px 155px 27px 55px;
    }

    .promoters-wrapper__contacts {
      position: absolute;
      z-index: 6;
      bottom: 159px;
      left: -600px;
      transition:
        left 0.8s ease,
        opacity 0.8s ease;
      opacity: 0;
      padding: 37px 50px 28px;
    }

    .promoters-wrapper__points {
      width: 210px;
      position: absolute;
      transition:
        right 0.8s ease,
        opacity 0.8s ease;
      opacity: 0;
      z-index: 6;
      bottom: 81px;
      right: -600px;
      padding: 38px 50px 27px;
    }

    .little-text {
      font-size: 18px;
      line-height: 28px;
    }

    @media (max-width: 1350px) {
      max-width: 500px;
    }

    @media (max-width: 1200px) {
      max-width: 400px;
      right: 5%;
    }

    @media (max-width: 960px) {
      max-width: 340px;
      right: 0%;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .container {
    opacity: 0;
    transform: translateY(600px);
    transition:
      transform 0.8s ease-in-out,
      opacity 0.8s ease-in-out;
  }

  .h3 {
    max-width: 437px;
    color: $white;

    @media (max-width: 1200px) {
      text-align: initial;
    }

    @media (max-width: 768px) {
      max-width: 100%;
      text-align: center;
    }
  }

  .promoters__title-text {
    max-width: 408px;
    font-style: normal;
    line-height: 156%;
    color: $white;

    @media (max-width: 768px) {
      max-width: 100%;
      text-align: justify;
      font-size: 17px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    align-items: center;
    justify-content: center;
  }

  &.active {
    .container {
      opacity: 1;
      transform: translateX(0);
      transition-delay: 300ms;
    }

    .promoters-wrapper__city {
      left: 97px;
      opacity: 1;
      transition-delay: 300ms;
    }

    .promoters-wrapper__contacts {
      left: -56px;
      opacity: 1;
      transition-delay: 300ms;
    }

    .promoters-wrapper__points {
      right: -50px;
      opacity: 1;
      transition-delay: 300ms;
    }
  }
}
