.team {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;

  .team__wrapper {
    overflow: hidden;
    padding-top: 120px;

    .h2 {
      opacity: 0;
      transform: translateY(400px);
      transition:
        transform 0.8s ease,
        opacity 0.8s ease;
    }

    .team__main {
      position: relative;
      display: flex;
      gap: 119px;
      height: calc(100% - 120px);

      & > div:first-child {
            @media (max-width: 991.98px) {
          display: none;
        }
      }

      .slider#slider-team-desktop {
        transform: translateY(600px);
        opacity: 0;
        transition:
          opacity 0.8s ease,
          transform 0.8s ease;

        .slider-track {
          width: 465px;
          height: 100%;

          .slider-item {
            &.active {
              .text {
                opacity: 1;
              }
            }

            img {
              height: 375px;
            }

            .text {
              margin-top: 30px;
              transition: opacity 0.5s ease;
              opacity: 0;

              .text__name {
                font-weight: 700;

                .text__description {
                  font-size: 16px;
                  line-height: 162%;
                }
              }
            }

            @media (min-width: 992px) {
              position: absolute;
              width: inherit;
            }
          }

              @media (max-width: 991.98px) {
            display: none;
          }
        }

        .button-wrapper {
          height: 420px;
          .slider-button__left,
          .slider-button__right {
            left: 75%;
          }
          .slider-button__right {
            top: calc(50% + 4px);
          }
          .slider-button__left {
            top: calc(50% - 60px);
          }
        }

        .main__comma {
          z-index: 0;
          position: absolute;
          right: -29%;
          top: -29px;

              @media (max-width: 991.98px) {
            display: none;
          }
        }
      }

      .slider#slider-team-mobile {
        transform: translateY(600px);
        opacity: 0;
        transition:
          opacity 0.8s ease,
          transform 0.8s ease;

        width: 320px;
        margin: 0 auto;

        .team-slider-track {
          .team__item {
            min-width: 320px;

            &.active {
              .text {
                opacity: 1;
              }
            }

            .text {
              margin-top: 15px;
              transition: opacity 0.4s ease;
              opacity: 0;

              .text__name {
                color: $black;
                font-size: 18px;
                font-weight: 700;
                line-height: 144.444%;
              }

              .text__description {
                @media (max-width: 575.98px) {
                  font-size: 16px;
                }
              }
            }

                @media (max-width: 991.98px) {
              min-width: 250px;
            }
          }
        }

        .button-wrapper {
          height: 100%;
        }

        @media (min-width: 992px) {
          display: none;
        }

            @media (max-width: 991.98px) {
          width: 250px;
        }
      }

      .wrapper-gradient {
        opacity: 0;
        transform: translateY(400px);
        position: relative;
        margin-top: 30px;

        .gradient-top {
          z-index: 6;
          background-image: linear-gradient(180deg, $white, hsla(0, 0%, 100%, 0));
          height: 30px;
          position: absolute;
          width: 100%;
          top: -12px;
          left: 0;
        }

        @media (min-width: 992px) {
          display: none;
        }
      }

      .main__description {
        overflow-y: auto;
        padding-bottom: 30px;
        position: relative;

        opacity: 0;
        transform: translateX(600px);
        transition:
          transform 0.6s ease,
          opacity 0.8s ease;

        .main__description__bold {
          position: relative;
          z-index: 5;
          font-weight: 700;
        }

        .main__description__gray {
          font-size: 16px;
          line-height: 162%;
          color: $gray;
        }

            @media (max-width: 991.98px) {
          max-width: 100%;

          opacity: 0;
          transform: translateY(600px);
          transition:
            transform 0.8s ease,
            opacity 0.8s ease;
        }
      }

          @media (max-width: 991.98px) {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0px;

        &::after {
          background-image: linear-gradient(0deg, $white, hsla(0, 0%, 100%, 0));
          content: "";
          height: 30px;
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;

          @media (max-width: 767.98px) {
            height: calc(100% - 255px);
          }
        }
      }
    }

        @media (max-width: 991.98px) {
      padding-top: 110px;
    }
  }

  @media (max-width: 1199.98px) {
    display: block;
  }

  &.active {
    .team__wrapper .team__main {
      .slider#slider-team-desktop,
      .slider#slider-team-mobile {
        opacity: 1;
        transform: translateY(0%);
        transition-delay: 300ms;
      }
    }

    .h2 {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 300ms;
    }

    .team__wrapper .team__main .main__description,
    wrapper-gradient {
      opacity: 1;

      @media (max-width: 991.98px) {
        transform: translateY(0%);
        transition-delay: 700ms;
      }

      @media (min-width: 992px) {
        transform: translateX(0%);
        transition-delay: 300ms;
      }
    }
  }
}
