.team {
  background-color: #fff;
  padding-top: 150px;

  .header__title {
    font-size: 100px;
    font-weight: 700;
    line-height: 122%;
    text-transform: uppercase;
    @media (max-width: 1200px) {
      font-size: 82px;
    }
    @media (max-width: 992px) {
      font-size: 64px;
      display: flex;
      justify-content: center;
    }
    @media (max-width: 768px) {
      font-size: 38px;
    }
    @media (max-width: 576px) {
      font-size: 32px;
    }
  }

  .team__main {
    display: flex;
    gap: 119px;
    .slider {
      position: relative;
      overflow: hidden;
      width: 540px;
      height: 420px;

      .slider__img__active {
        position: relative;
        height: 100%;
        z-index: 3;
      }

      .slider__img__next {
        position: absolute;
        top: calc(50% - 147px);
        right: 0;
        width: 294px;
        height: 294px;
      }

      .slider__img__prev {
        position: absolute;
        top: calc(50% - 147px);
        left: -100%;
        width: 294px;
        height: 294px;
      }

      .arrowBtn {
        position: absolute;
        top: calc(50% + 4px);
        width: 56px;
        height: 56px;
        padding: 21px 22px 21px 23.5px;
        z-index: 5;
        background: #ffffff;
        border-radius: 50%;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        left: 75%;
        stroke: #212121;
        transition: stroke 0.3s ease-in-out, background 0.3s ease-in-out;
        &.left {
          transform: rotate(180deg);
          top: calc(50% - 60px);
        }
        &.disabled {
          display: none;
        }
        &:hover {
          stroke: #fff;
          background: #ed0644;
        }
      }
    }

    .main__description {
      max-width: 451px;

      .main__description__bold {
        font-weight: 700;
        font-size: 18px;
        line-height: 144%;
      }

      .main__description__gray {
        font-weight: 600;
        font-size: 16px;
        line-height: 162%;
        color: #5c5c5c;
      }
    }
  }
}
