$main-pink: #ed0644;
$white-default: #fff;
$black-default: #212121;
$gray: #5c5c5c;

.header__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 122%;
  text-transform: uppercase;

  @media (max-width: 1200px) {
    font-size: 82px;
  }

  @media (max-width: 992px) {
    font-size: 64px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  @media (max-width: 768px) {
    font-size: 38px;
  }

  @media (max-width: 576px) {
    font-size: 32px;
  }
}

/* for example !!! 

$
$white: $white-default;
$gray1: #f9f9f9;
$gray2: #f1f1f1;
$gray3: #e9eaeb;
$gray4: #e1e1e3;
$gray5: #9393a7;
$gray6: #71747a;
$gray7: #171a1f;
$pink: #cb11ab;
$purple: #7b1b8b;
$green3: #0bb66e;
$pink-gradient: linear-gradient(90deg, #d02db4 0%, #481173 100%);

@mixin pink-shadow() {
  box-shadow: 0 0 0 0.2rem rgb(123 27 139 / 50%);
}

@mixin pink-gradient-text() {
  background: $pink-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s background;
}

*/
