.yandexMap {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .yandexMap__iframe {
    top: -120px;
    height: calc(100% + 240px);
    width: 100%;
    position: absolute;
    z-index: 1;
  }
}
