.yandexMap {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-image: url("../resources/img/12-background.jpg");

  .yandexMap__main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;

    .main__title {
      color: $white;
      width: fit-content;
      position: relative;
      z-index: 2;
      font-size: 100px;
      font-weight: 700;
      line-height: 122px;
      text-transform: uppercase;
      @media (max-width: 1200px) {
        font-size: 82px;
      }
      @media (max-width: 992px) {
        font-size: 64px;
        display: flex;
        justify-content: center;
      }
      @media (max-width: 768px) {
        font-size: 38px;
        line-height: 61px;
      }
      @media (max-width: 576px) {
        font-size: 32px;
        line-height: 41px;
      }
    }

    .main__content {
      position: relative;
      z-index: 2;

      .content__number {
        color: $white;
        font-weight: 700;
        font-size: 46px;

        @media (max-width: 1200px) {
          font-size: 40px;
        }
        @media (max-width: 992px) {
          font-size: 32px;
        }
        @media (max-width: 768px) {
          font-size: 28px;
        }
        @media (max-width: 576px) {
          font-size: 20px;
        }
      }

      .content__map {
        cursor: pointer;
        display: block;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 20;
        color: $white;
      }

      .content__email {
        display: inline-block;
        margin-top: 20px;
        color: $white;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: underline;

        @media (max-width: 576px) {
          font-size: 16px;
        }
      }
    }
  }

  .yandexMap__footer {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 20px 0;

    a {
      margin-right: 30px;

      @media (max-width: 540px) {
        margin-right: 15px;
      }
    }

    span {
      color: $white;
      font-size: 12px;
      line-height: 16px;
      @media (max-width: 540px) {
        width: 170px;
      }
    }
    &.container {
      @media (max-width: 1200px) {
        padding: 20px;
      }
    }
  }
}
