.popup__yandexMap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  transition: left 0.9s ease;

  .yandexMap__iframe {
    width: 100%;
    height: 100%;
  }

  &.active {
    left: 0%;
    display: flex;
    flex-direction: column;
    z-index: 9999999999999;

    .yandexMap__iframe {
      width: 100%;
      position: absolute;
      z-index: 1;
    }

    .close__wrapper {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      cursor: pointer;
      top: 50px;
      right: 0;
      width: 60px;
      height: 60px;

      .preview__close {
        position: relative;
        width: 31px;
        height: 31px;

        .close__strip {
          position: absolute;
          display: block;
          background-color: $black;
          width: 100%;
          height: 3px;
          top: 50%;

          &:first-child {
            transform: rotate(45deg);
          }

          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }

      @media (max-width: 992px) {
        left: initial;
        right: 15px;
      }
    }
  }
}
